 
 body {
        font-family: Arial, sans-serif; margin: 20px;
 }

h1 { 
 background-color: palegoldenrod; padding: 20px; border-radius: 10px;
 }

 nav a { 
margin-right: 20px; font-weight: bold;  text-decoration: none;font-weight: bold; color: white;font-size: 25px;
}

nav a:hover {
 color: orange; font-size: 30px;
}

 form {
           max-width: 400px;
 }

 input, textarea { 
                    width: 100%; margin: 8px 0; padding: 10px; border-radius: 5px; border: 1px solid #aaa;
 }

 button {
                 padding: 10px 15px; border: none; background: yellow; color: black; cursor: pointer; border-radius: 5px;  font-weight: bold;  text-decoration: none;
 }  
a{
 font-weight: bold;  text-decoration: none;
}
 button:hover { 
                    background: orange; font-size: 15px;
}

 @media  (max-width: 600px) {
                         body {
                                     background-color: lightblue;
                                    }
                       nav a { 
                                margin-right: 15px;
                                text-decoration: none; 
                                font-weight: bold; 
                                 color: white; 
                              font-size: 20px;
                              display: inline-block;
                               padding: 10px 0;
                             }
                    nav a:hover {
                  	            color: orange; font-size: 25px;
                              }
}